
ytd-masthead[mode="legacy"] #container.ytd-masthead {
	-ms-flex-pack: start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	background: -moz-linear-gradient(90deg, #ff6a3e, #fe3d90);
}
#search-icon-legacy.ytd-searchbox {
	cursor: pointer;
	width: 65px;
	border: white;
	background-color: white;
	border-radius: 0 100px 100px 0;
	margin: 0;
}
ytd-searchbox[mode=legacy] #container.ytd-searchbox {
	background-color: white;
	border: white;
	border-right: none;
	box-shadow: 0px 0px 0px 0px;
	text-align: center;
	padding: 2px 6px;
	border-radius: 100px 0 0 100px;
}
ytd-searchbox[mode=legacy][has-focus] #container.ytd-searchbox {
	border: 0px solid #1c62b9;
	box-shadow: inset 0 0px 2px rgba(0, 0, 0, 0);
}
li.sbsb_c.gsfs {
	text-align: center!important;
}
#like-bar.ytd-sentiment-bar-renderer {
	background: -moz-linear-gradient(#ff6a3e, #fe3d90);
	height: 2px;
	transition: width 0.3s;
}
a.yt-simple-endpoint.yt-formatted-string {
	color: var(--yt-primary-color)!important;
}
#owner-name.ytd-video-owner-renderer {
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.6rem;
}
div#sb-heading {
	background-color: rgba(255, 0, 0, 0)!important;
	background: -moz-linear-gradient(90deg, #ff6a3e, #fe3d90);
}
#buttons.ytd-masthead [is-icon-button].ytd-masthead {
	color: white;
}
div#ChanOver span {
	color: white!important;
}
 div#ChanOver {
	background-color: rgba(255, 0, 0, 0)!important;
	background: -moz-linear-gradient(50deg, #ff6a3e, #fe3d90);
	color: white!important;
}
div#ChanOver h2 {
	color: white!important;
}
div#ChanOver h3 {
	color: white!important;
}
div#ChanOver a {
	color: white!important;
}
div#sb-heading {
	background-color: rgba(255, 0, 0, 0)!important;
	background: URL(https://i.imgur.com/dc7CRrl.png);
	BACKGROUND-POSITION: center;
}
div#sb-heading A {
	opacity: 0;
}
div#ChanOver div {
	border-bottom: 0px solid !important;
	border-right: 0px !important;
}
div#socialblade-stats {
	background: -moz-linear-gradient(90deg, #ff6a3e, #fe3d90)!important;
}
div#vid-tags-outdated div {
	color: white!important;
}
div#SBMenu div h3 {
	background-color: white!important;
	border-right: 0px!important;
	color: var(--yt-primary-color)!important;
}
div#SBMenu div {
	background-color: white!important;
	border-right: 0px!important;
	color: var(--yt-primary-color)!important;
}
p#vid-tags span {
	background-color: white!important;
	color: var(--yt-primary-color)!important;
	border-radius: 100px!important;
}
a#SBL div {
	background: white!important;
	color: black!important;
}
a#SBL div h3 {
	background: white!important;
	color: var(--yt-primary-color)!important;
}
div#socialblade {
	box-shadow: 1px 0px 16px 1px #0000003b;
}
a#SBLC div h3 {
	color: var(--yt-primary-color)!important;
}
 a#SBLC div {
	background-color: white!important;
}
 a#SBLC div:hover {
	background-color: grey!important;
}
a#SBLC div {
	background-color: white!important;
}
paper-toggle-button[checked]:not([disabled]) .toggle-bar.paper-toggle-button {
	opacity: 1;
	background-color: #ff000000;
	background: -moz-linear-gradient(90deg, #ff6a3e, #fe3d90);
}
paper-toggle-button[checked]:not([disabled]) .toggle-button.paper-toggle-button {
	background-color: var(--yt-primary-color)!important;
	background: -moz-linear-gradient(90deg, #ff6a3e, #fe3d90);
}
span.count {
	color: var(--yt-primary-color)!important;
	font-weight: lighter!important;
}
ytd-button-renderer.style-primary[is-paper-button] {
	background-color: hsla(206, 79%, 53%, 0);
	color: hsl(0, 0%, 100%);
	background: -moz-linear-gradient(90deg, #ff6a3e, #fe3d90);
	border-radius: 100px;
}
a#iridium_settings_button svg {
	color: white;
}

g#youtube-paths path {
	fill: white!important;
}polygon.style-scope.yt-icon {
    fill: var(--yt-primary-color)!important;
}body[invert] yt-icon#logo-icon.ytd-topbar-logo-renderer svg {
    opacity: 0;
}
body[invert] yt-icon#logo-icon.ytd-topbar-logo-renderer {
    width: 80px;
    background: url(https://i.imgur.com/HdkDeft.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}app-drawer.ytd-app:not([persistent]) #header.ytd-app {
    background: -moz-linear-gradient(90deg, #ff6a3e, #fe3d90);
}.ytp-play-progress.ytp-swatch-background-color {
background: -moz-linear-gradient(90deg, #ff6a3e, #fe3d90);
}
#guide-icon.ytd-masthead {
    fill: white;
}#guide-icon.ytd-app {
    fill: white;
}section.vc-stat-section.third-layout div span {
    color: var(--yt-primary-color)!important;
}.vc-stat-section .stat-box.alt {
    background: rgb(255, 255, 255);
    border-color: white;
}
paper-button.ytd-subscribe-button-renderer {
    background-color: #ff000005;
    border-radius: 2px;
    padding: 10px 16px;
    margin: auto 4px;
    white-space: nowrap;
    background: -moz-linear-gradient(90deg, #ff6a3e, #fe3d90);
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: .007px;
    text-transform: uppercase;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}.video-companion-container ul.keywords .search-rank {
    margin-left: 0.5em;
    color: white;
    font-weight: bold;
    display: inline-block;
    height: 15px;
    vertical-align: middle;
    line-height: 15px;
    background: -moz-linear-gradient(90deg, #ff6a3e, #fe3d90);
    padding: 0px 3px;
}.vidiq-logo-container {
    filter: brightness(0)!important;
}img#sb-return {
    filter: brightness(100000%);
    padding-right: 10px;
}#socialblade-tab paper-button {
    background-color: #ff6c7b !important;
    border-radius: 2px;
    color: #ffffff !important;
    padding: 10px 16px;
    margin: auto 4px;
    white-space: nowrap;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: .007px;
    text-transform: uppercase;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}.vidiq-rating-bar-container .vidiq-rating-bar .vidiq-rating-likes {
    height: 5px;
    background: -moz-linear-gradient(90deg, #ff6a3e, #fe3d90)​;
}
ytd-guide-entry-renderer[active] .guide-icon.ytd-guide-entry-renderer {
    color: var(--yt-primary-color)!important;
}.badge-style-type-featured.ytd-badge-supported-renderer {
    background: -moz-linear-gradient(90deg, #ff6a3e, #fe3d90);
    color: hsl(0, 0%, 100%);
    padding: 6px 10px 5px 10px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
}.vidiq-rating-bar-container .vidiq-rating-bar .vidiq-rating-likes {
    height: 5px;
    background: #f98a5f;
}yt-icon.ytd-badge-supported-renderer {
    background: url(https://i.imgur.com/FhRzUqU.png);
    color: #b3b1b100;
    background-size: 116%;
    background-repeat: no-repeat;
    background-position: center;
}.vidiq-rating-bar {
    background-color: #faae90!important;
}#search-icon-legacy.ytd-searchbox {
    cursor: pointer;
    width: 65px;
    border: white;
    background-color: #ff516e;
    border-radius: 0 100px 100px 0;
    box-shadow: 1px 0px 19px 0px #1010102b;
    margin: 0;
}ytd-searchbox[mode=legacy] #container.ytd-searchbox input.ytd-searchbox {
    color: black;
}button.vidiq-button {
    border-radius: 100px;
    background: -moz-linear-gradient(90deg, #ff6a3e, #fe3d90);
    font-family: Roboto;
    text-transform: uppercase;
    border: 0px solid!important;
}#search-icon-legacy.ytd-searchbox {
    cursor: pointer;
    width: 65px;
    border: white;
    background-color: white!important;
    border-radius: 0 100px 100px 0;
    box-shadow: 1px 0px 19px 0px #1010102b;
    margin: 0;
}div#SBMenu div h3 {
    background-color: white!important;
    border-right: 0px!important;
    color: black!important;
}span.value-inner {
    -moz-text-fill-color: black!important;
}div#sb-heading {
    background-color: rgba(255, 0, 0, 0)!important;
    background: moz-linear-gradient(90deg, #ff6a3e, #fe3d90)!IMPORTANT;
    BACKGROUND-POSITION: center;
}div#sb-heading A {
    opacity: 1!important;
    background: url(https://i.imgur.com/TvIeZZx.png);
    margin-top: -100px;
    padding: 100px 0px 49px 100px;
    background-repeat: no-repeat;
    background-size: 62%;
    margin-left: 12px;
    background-position: center;
}.ytp-scrubber-button.ytp-swatch-background-color {
    background: moz-linear-gradient(270deg, #ff6a3e, #fe3d90)!important;
}.ytp-cards-teaser-text {
    border-radius: 100px;
}video.video-stream.html5-main-video {
    border-radius: 8px;
}ytd-watch:not([transparent-player-background_]) #player-container.ytd-watch, ytd-watch[flexy-fit-to-video_]:not([is-currently-flexible_]) #player-container.ytd-watch, ytd-watch[theater] #player-container.ytd-watch {
    background-color: #0000!important;
}ytd-watch:not([transparent-player-background_]) #player-container.ytd-watch, ytd-watch[flexy-fit-to-video_]:not([is-currently-flexible_]) #player-container.ytd-watch, ytd-watch[theater] #player-container.ytd-watch {
    background-color: #0000!important;
}
#player-container.ytd-watch {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 8px;
    position: relative;
}#top>#player #movie_player:not(.ytp-fullscreen) video, #top>#player #movie_player:not(.ytp-fullscreen) .html5-video-container {
    height: 100%!important;
    border-radius: 8px!important;
}div#player {
    border-radius: 8px!important;
}
#player.ytd-watch {
    position: relative;
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
    border-radius: 8px!important;
}video.video-stream.html5-main-video {
    border-radius: 8px!important;
}.html5-video-player:not(.ytp-transparent), .html5-video-player.ad-interrupting, .html5-video-player.ended-mode, .html5-video-player.ytp-fullscreen {
    background-color: #ff373700;
}
p#vid-tags span {
    background-color: white!important;
    color: #000000fa!important;
    border-radius: 100px!important;
}.vidiq-subscriber-count.new-layout span {
    color: black!important;
}
.vidiq-logo-container {
    filter: invert(100%)!important;
filter: brightness(10000000000%)!important;
}
header.video-companion-header {
    padding-bottom: 19px;
}
#thumbnail.ytd-thumbnail {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    left: 0;
}img.yt-img-shadow {
    display: block;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    max-height: var(--yt-img-max-height, none);
    max-width: var(--yt-img-max-width, 100%);
}
img.yt-img-shadow {
    display: block;
    margin-left: auto;
    border-radius: 6px;
    margin-right: auto;
    max-height: var(--yt-img-max-height, none);
    max-width: var(--yt-img-max-width, 100%);
}

.ytp-settings-button.ytp-hd-quality-badge:after, .ytp-settings-button.ytp-4k-quality-badge:after, .ytp-settings-button.ytp-5k-quality-badge:after, .ytp-settings-button.ytp-8k-quality-badge:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 5px;
    height: 9px;
    color: hsla(0, 0%, 0%, 0.88)!important;
    width: 13px;
    background-color: #000;
    border-radius: 1px;
    line-height: normal;
    border-radius: 100px;
}
div#sb-heading {
    background-color: rgba(255, 0, 0, 0)!important;
    border-radius: 8px 8px 0 0px;
    background: moz-linear-gradient(90deg, #ff6a3e, #fe3d90)!IMPORTANT;
    BACKGROUND-POSITION: center;
}
div#sb-data-pages {
    border-radius: 0px 0 8px 8px;
}.ytp-settings-button.ytp-hd-quality-badge:after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…wxMCw2IEwxMCw0IFoiIGZpbGw9IiNmZmYiIGZpbGwtcnVsZT0iZXZlbm9kZCIgLz48L3N2Zz4=)!IMPORTANT;
    FILTER: INVERT(1)!IMPORTANT;
}
